body {font: 10pt/20pt "Lucida Grande", Lucida, Verdana, sans-serif}
.bold {font-weight: bold}
.boldA {font-weight: bold; color: #252624;}
h1 
{
font: 16pt/20pt Lucida Sans Unicode, Lucida Grande, sans-serif; font-weight: normal;
}
h2
{
font: 14pt/20pt "Lucida Grande", Lucida, Verdana, sans-serif;
font-weight: bold;
}
h3
{
font: 18pt/20pt "Lucida Grande", Lucida, Verdana, sans-serif;
font-weight: bold;
color: #fdfeec;
}
h4
{
font: 11pt/20pt "Lucida Grande", Lucida, Verdana, sans-serif;
font-weight: bold;
}
.italic {font: 10pt/20pt "Lucida Grande", Lucida, Verdana, sans-serif; font-style: italic}
A:link, A:visited, A:active { text-decoration: none ; color: #636662 }
A:hover { background-color: #66ac2d; text-decoration: none ; color: #000 }

body
{
background-color:#d0e4fe;
margin: 0;
padding: 0; 
}
#page
{
	background-color:#b0c4de;
	width:750px;
				
	border:1px solid gray;
	margin-left: auto ;
  margin-right: auto ;
	margin-top: 20px;
	margin-bottom:20px;
	padding: 0;
}
#description
{
	color: #fff;
}
#header
{
	background: #73a0c5;
	display: flex;
	align-items: center; 
	gap: 30px;          
	height: auto;
	padding: 30px; 
	margin: 0 auto;
	border-bottom: 15px solid #7477a3;
}
.profile-pic {
  width: 225px;           
  height: 225px;         
  border-radius: 50%; 
  object-fit: cover;   
  border: 2px solid #cecece;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#content
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

}
#footer
{
padding-top: 5px;
background: #66ac2d;
border-top: 1px solid gray;
}
#prefooter
{
padding-top: 2px;
width: 15%;
margin-left: auto ;
margin-right: auto ;
background: #66ac2d;
}
.researchproject
{
	margin-left: 20px;
}
.list
{
	margin-left: 20px;
}
li {margin: 1em 0}
/*ul {margin: 25px; padding: 0;}*/

#papertitle{
	font-weight: bold;
	color: #252624;	
}
#title_epilepsy
{
	background: #feffff url("files/trace_title.png") bottom no-repeat;
	min-height: 55px;
	height: auto !important; /* Hack for IE */
	height: 55px;
	padding-left: 20px;
	padding-top: 5px;
	border: 1px solid gray;
}
#title_robotics
{
	background: #feffff url("files/robot.png") bottom no-repeat;
	min-height: 55px;
	height: auto !important; /* Hack for IE */
	height: 55px;
	padding-left: 20px;
	padding-top: 5px;
	border: 1px solid gray;
}
.pic
{
	border: 2px dashed gray;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*
* {
   border: 1px solid red !important;
}
*/
